* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-seriff;
}

a {
    color: white;
    text-decoration: none;
}

#website-areas{
    grid-template-areas:
    "header header"
    ""
    ""
    ""
    ""
    ""
    ""
}

#website-areas header {
    grid-area: header;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: rgb(11, 7, 63);
    border-bottom: 1px solid rgb(93, 88, 188);
    width:70%;
    height:auto;
    align-content: center;
    padding: 30px;
    margin: auto auto;
}
.logo img {
    min-height:70px;
    height:70px;
    }

.indice ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: bottom center;
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}
    
.indice > ul > li {
    justify-items:bottom center;
    line-height: 30px;
    border-right: 1px solid gray;
    padding-left: 15px;
}

.enlaces {
    margin-top: 20px;
}

body{
    display:grid;
    background: #000;
    background-image: url(../img/fondo.png);
    align-content: center;
    text-align:center;   
}

#caja {
    background-color: #000;
    width: 70%;
}

body .enlaces {
    padding: 5px;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

p {
    color: white;
}

.index-blog{
    border:4px solid white;
    padding: 20px 20px;
    margin: 30px auto;
}

.index-blog h2{
    color: white;
    text-align: left;
}

.index-blog h3{
    color:white;
    text-align: left;
}

.index-blog p{
    margin:20px none;
}

.index-games {
    width:800px;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

.index-callisto-thumbnail img{
    width: 120px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-forspoken-thumbnail img{
    max-width:120px;
    margin:20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-hifi-thumbnail img{
    max-width: 120px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-deadspace-thumbnail img{
    max-width: 120px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-miembros {
    width:800px;
    height: auto;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

.index-contacto{
    width:800px;
    height: auto;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

.blog {
    width:800px;
    height: auto;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

.juegos {
    width:800px;
    height: auto;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

.juegos .juegos-callisto {
    padding-bottom: 20px;
    border-bottom:2px solid white;
}

.juegos .juegos-callisto img {
    width: 300px;
}

.juegos .juegos-forspoken {
    padding: 20px;
    border-bottom:2px solid white;
}

.juegos .juegos-forspoken img {
    width:300px;
}

.juegos .juegos-hifi {
    padding: 20px;
    border-bottom:2px solid white;
}

.juegos .juegos-hifi img {
    width: 300px;
}

.juegos .juegos-deadspace{
    padding-top: 20px;
}

.juegos .juegos-deadspace img{
    width:300px;
}

.miembros {
    width:800px;
    height: auto;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

.miembros .miembros-eufm{
    padding-bottom: 20px;
    border-bottom:2px solid white;
}

.miembros .miembros-dougan{
    padding: 20px;
    border-bottom:2px solid white;
}

.miembros .miembros-migli0 {
    padding-top: 20px;
}

.contacto {
    width:800px;
    height: auto;
    border:4px solid white;
    padding: 20px 20px;
    margin: 50px auto;
}

footer {
    width:800px;
    height: auto;
    background-color: none;
    border-top: 2px solid white;
    margin: 5px auto;
}

footer img{
    margin-top:15px;
}

footer .footer-enlaces{
    margin-bottom:20px;
}