*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-seriff;
}

    /*justify-items: center;
    justify-content: center;*/

header{
    /*background-color: aqua;*/
    display:grid;
    grid-template-columns: 25% 75%;
    background-image: url("../img/fondo.png");
    padding-top: 50px;
    padding-bottom: 20px;
}

/*Cabecera*/
.header-logo{
    /*background-color: lightseagreen;*/
    /*grid-column: 2/3;*/
    text-align:right;
}

.header-logo img{
    width: 150px;
}

.header-menu{
    /*background-color: rgb(146, 63, 63);*/
    text-align:bottom;
}

.header-menu ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    padding: 10px;
}

.header-menu ul a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/*Contenido*/
#index-contenido{
    /*background-color: yellow;*/
    display: grid;
    grid-template-rows: repeat (5, 1fr);
    /*grid-gap: 10px;*/
    justify-items: center;
}

/*Enlaces*/
.index-enlaces{
    background-color:rgb(8, 13, 63);
    text-align: center;
    width:912px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.index-enlaces a{
    color: white;
    text-decoration: none;
    font-size: 16px;   
}
/*Blog*/
.index-blog{
    background-color: rgb(1, 1, 34);
    color:white;
    justify-content: center;
    padding:50px;
    width:912px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

/*Juegos*/
.index-juegos{
    background-color: rgb(23, 5, 39);
    color: white;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    width:912px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.index-callisto-thumbnail img{
    width: 120px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-forspoken-thumbnail img{
    max-width:120px;
    margin:20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-hifi-thumbnail img{
    max-width: 120px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-deadspace-thumbnail img{
    max-width: 120px;
    margin: 20px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

/*Miembros*/
.index-miembros{
    background-color: rgb(47, 5, 48);
    color: white;
    Display:grid;
    grid-template-rows: repeat(3, 1ft);
    width:912px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

/*Contacto*/
.index-contacto{
    background-color: rgb(8, 13, 63);
    color:white;
    width:912px;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

/*Footer*/
footer{
    background-color: rgb(1, 1, 34);
    grid-area: pie;
    text-align: center;
    padding: 25px;
}

.footer-logo img{
    width: 100px;
}

.footer-enlaces img{
    width: 20px;
}

/*iPhone14 vertical viewport*/
@media (max-width: 390px) {
    .index-layout {
        background-color: black;
    }
    #grid-layout {
        grid-template-areas:
        "cabecera"
        "contenido"
        "pie";
    }
    header {
        display: block;
    }
}

/* iPad Pro vertical viewport */
@media (min-width: 390px) and (max-width: 1024px) {

} 