.juegos-forspoken-layout{
    display:grid;
    grid-template-areas:
    "cabecera"
    "forspokenmain"
    "pie";
    grid-template-rows:auto auto auto;
}

.juegos-main-forspoken{
    background-color: black;
    grid-area:forspokenmain;
    display:grid;
    grid-template-columns:2fr 5fr 2fr;
    h1{
        color:white;
        font-size:36px;
        text-align:center;
        padding-bottom:25px;
    }
    h2{
        color:white;
        text-align:center;
        font-size:36px;
    }
    h3{
        color:white;
        font-size:18px;
    }
    p{
        font-family: 'Inter', sans-seriff;
        color:white;
        font-size:28px;
        line-height:40px;
        text-align: justify;
        padding:5px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .forspoken-indice ul{
        list-style:none;
        position:sticky;
        top:0;
        padding-left:75px;
        padding-top:100px;
        li{
            padding-bottom:10px;
        }
        a{
            font-size:21px;
            color:white;
            text-decoration:none;
            font-weight:bold;
        }
    }
}

.forspoken-articles{
    background-color: black;
    .forspoken-portada{
        display:grid;
        justify-items: center;
        background-image: url(../img/forspoken-fondo-portada.jpg);
        background-repeat: no-repeat;
        background-size:contain;
        img{
            width:580px;
            padding-top:200px;
            padding-bottom:25px;
        }
        h3{
            font-size:28px;
            padding-bottom:1000px;
        }
    }
    .creditoslog{
        display:grid;
        justify-items:center;
        border-style:solid;
        p{
            text-align:center;
            padding-left:300px;
            padding-right:300px;
        }
        img{
            width:280px;
            padding-top:25px;
            padding-bottom:600px;
        }
    }
    .forspoken-creditos{
        .forspoken-logos01{
            display:grid;
            justify-items:center;
            padding-bottom:500px;
            img{
                width:580px;
                padding-top:200px;
                padding-bottom:800px;
            }
        }
        .forspoken-logos02{
            background-image: url(../img/forspoken-fondo-creditos.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            text-align:center;
            img{
                width:860px;
                padding-bottom:1500px;
            }
        }
    }
}