//iPhone14 vertical viewport
@media (max-width: $phonedim) {
//header
header {
    grid-template-columns: 1fr;
    grid-template-rows:auto auto;
    .header-logo {
        text-align: center;
        padding-bottom:0px;
        padding-right:0px;
        img{
            width: 200px;
        }
    }
    .header-menu ul{
        grid-template-columns: 2fr 2fr 2fr 3fr 2fr;
        padding-top: 30px;
        padding-left:10px;
        padding-right:30px;
        padding-bottom: 20px;
        a{
            font-size: 24px;
        }
    }
}
//footer
footer{
    .footer-logo img{
        width:220px;
        padding-top: 30px;
    }
    .footer-enlaces img{
        width: 40px;
        padding-top:21px;
    }
}

//Página Web Index
.index {
    & main {
        grid-template-areas:
            "enlaces"
            "blog"
            "juegos"
            "aside1"
            "aside2"
            "miembros"
            "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: repeat (7, auto);
        p{
            line-height:36px;
        }
        h2{
            padding-bottom: 15px;
        }
        .vermas{
            padding-top:20px;
            padding-bottom:20px;
            a{
                font-size:25px;
                padding-top:200px;
                padding-bottom:20px;
            }
        }
        //index-enlaces
        .index-enlaces{
            grid-template-rows:auto auto;
            a{
                font-size:16px;
            }
            &1 {
                padding-top:30px;
            }
            &2 {
                padding-bottom:30px;
            }
        }
        //index-blog
        .index-blog {
            display:grid;
            grid-template-columns:auto;
            grid-template-rows:auto auto;
            h1 {
                font-size: 36px;
            }
            &-content {
                h3{
                    font-size:30px;
                    padding-top:25px;
                    padding-bottom:25px;
                }
                p{
                    font-size:24px;
                    line-height:36px;
                }
            }
        }
        //index-juegos
        .index-juegos{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            h2{
                font-size:36px;
            }
            .index-juegos-content{
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                img{
                    width: 240px;
                }
            }
        }
        //index-miembros
        .index-miembros{
            grid-template-columns:auto;
            grid-template-rows: auto auto auto;
            h2{
                font-size: 36px;
            }
            a{
                text-align: center;
            }
            img{
                width: 210px;
            }
            p{
                font-size: 24px;
            }
        }
        //index-contacto
        .index-contacto{
            grid-template-columns:1fr;
            grid-template-rows: auto auto;
            h2{
                font-size:36px;
            }
            p{
                font-size: 26px;
            }
        }
    }
}

    /*Página Web Blog*/
    #blog .header-menu ul{
        padding-top: 10px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom: 0px;
    }

    #blog .header-menu ul a{
    font-size:16px;
    }

    .blog-main-content {
        height: auto;
    }

    /*Página Web Juegos*/
    #juegos .header-logo img{
        padding-right:0px;
        padding-bottom:0px;
    }
    
    #juegos .header-menu ul{
        padding-top: 10px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom: 20px;
    }

    #juegos .header-menu ul a{
    font-size:16px;
    }
    
    .juegos-main{
        grid-template-areas:
        "aside1" "juegoscontent" "aside2";
        grid-template-columns:1fr;
        grid-template-rows:auto auto auto;
    }

    .juegos-content a{
        text-align: center;
    }

    .juegos-content img{
        width:260px;
    }

    .juegos-content p{
        color:white;
        padding-top:15px;
        padding-left:0px;
        padding-right:0px;
        line-height: 32px;
        font-size:21px;
    }

    .juegos-callisto{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }

    .juegos-forspoken{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }

    .juegos-hifi{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }

    .juegos-deadspace{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }




    /*Página Web Miembros*/
    #miembros .header-logo img{
        padding-right:0px;
        padding-bottom:0px;
    }
    
    #miembros .header-menu ul{
        padding-top: 10px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom: 20px;
    }

    #miembros .header-menu ul a{
    font-size:16px;
    }
    
    .miembros-main{
        grid-template-areas:
        "aside1" "miembroscontent" "aside2";
        grid-template-columns:1fr;
        grid-template-rows:auto auto auto;
    }

    .miembros-content a{
        text-align: center;
    }

    .miembros-content img{
        width:260px;
    }

    .miembros-content p{
        color:white;
        padding-top:15px;
        padding-left:0px;
        padding-right:0px;
        line-height: 32px;
        font-size:21px;
    }

    .miembros-eufm{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }

    .miembros-dougan{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }

    .miembros-migli0{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        margin:25px;
    }

    /*Página Web Contacto*/
    
    #contacto .header-menu ul{
        padding-top: 10px;
        padding-left:10px;
        padding-right:20px;
        padding-bottom: 0px;
    }

    #contacto .header-menu ul a{
    font-size:16px;
    }
}