//iPhone14 vertical viewport
@media (max-width: $phonedim) {
    .asideizq {
        display:none;
    }
    .juegos-main-aside1{
        display:none;
    }
    .asideder {
        display:none;
    }
    .juegos-main-aside2{
        display:none;
    }

    header{
        grid-template-columns: auto;
        grid-template-rows:auto auto;
        .header-logo {
            text-align: center;
            padding-bottom:0px;
            padding-right:0px;
            img{
                width: 260px;
            }
        }
        .header-menu ul{
            grid-template-columns: auto auto auto auto auto;
            padding: 15px;
            a{
                font-size: 16px;
            }
        }
    }

    //footer
    footer{
        .footer-logo img{
            width:220px;
            padding-top: 30px;
        }
        .footer-enlaces img{
            width: 40px;
            padding-top:21px;
        }
    }

    //Página Web Index
    .index {
        main {
            grid-template-areas:
                "enlaces"
                "blog"
                "aside1"
                "juegos"
                "aside2"
                "miembros"
                "contacto";
            grid-template-columns: 100%;
            grid-template-rows: repeat (7, auto);
            p{
                line-height:26px;
                font-size:20px;
            }
            h1 a{
                font-size:28px;
            }
            h2{
                padding-bottom:15px;
            }
            h2 a{
                font-size:28px;
            }
            .vermas{
                padding-top:10px;
                padding-bottom:20px;
                a{
                    font-size:21px;
                    padding-top:200px;
                    padding-bottom:20px;
                }
            }
        }
    }
    .index-enlaces{
        grid-template-rows:auto;
        img{
            width: 36px;
        }
        a{
            font-size:22px;
        }
        &0 {
            display:none;
            padding: 10px 0px;
        }
        &1 {
            display:none;
            padding:0px;
            a{
                padding:10px 0px;
            }
        }
        &2 {
            display:none;
            padding:0px;
            a{
                padding:10px 0px;
            }
        }
        &-logos{
            display:block;
            text-align:center;
            padding:25px 0px
        }
    }

    .index-blog {
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        &-content {
            padding-right:0px;
            h3{
                font-size:22px;
                padding-top:20px;
                padding-bottom:15px;
            }
        }
    }

    .index-juegos{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        .index-juegos-content{
            grid-template-columns: auto;
            grid-template-rows: repeat (4, auto);
            a{
                text-align:center;
            }
            img{
                width: 260px;
            }
        }
    }

    .index-miembros{
        grid-template-columns:auto;
        grid-template-rows: auto auto auto;
        a{
            text-align: center;
        }
        img{
            width: 210px;
        }
    }

    .index-contacto{
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
    }

    //Página Web Blog
    .blog-main{
        grid-template-areas:
            "aside1"
            "blogcontent"
            "aside2";
        grid-template-columns:1fr;
        grid-template-rows: auto auto auto;
    }

    //Página Web Juegos
    .juegos-main{
        grid-template-areas:"juegoscontent";
        grid-template-columns:auto;
        grid-template-rows:auto;
    }

    .juegos-content {
        a{
            text-align: center;
        }
        img {
            width:260px;
        }
        p{
            color:white;
            padding-top:15px;
            padding-left:0px;
            padding-right:0px;
            line-height: 26px;
            font-size:16px;
        }
        &-callisto{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        &-forspoken{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        &-hifi{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        &-deadspace{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
    }

    //Página Web Miembros
    .miembros-main{
        grid-template-areas:
        "miembroscontent";
        grid-template-columns:auto;
        grid-template-rows:auto;
    }

    .miembros-content {
        a{
            text-align: center;
        }
        img{
            width:260px;
        }
        p{
            color:white;
            padding-top:15px;
            padding-left:0px;
            padding-right:0px;
            line-height: 32px;
            font-size:21px;
        }
        .miembros-eufm{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        
        .miembros-dougan{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        
        .miembros-migli0{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
    }

    //Página Web Contacto
    .contacto-main{
        grid-template-areas:
            "concontent";
        grid-template-columns: auto;
    }

    //The Callisto Protocol
    .juegos-main-callisto{
        grid-template-columns:1fr;
        grid-template-rows: auto, auto;
        .callisto-indice-phone{
            display:block;
            text-align:center;
            position:sticky;
            top:0;
            .navbar{
                background-color: black;
                .offcanvas{
                    background-color: black;
                    .offcanvas-header{
                        color:white;
                        border-bottom: 2px solid white;
                    }
                    .offcanvas-body ul a{
                        font-size:18px;
                        color:white;
                        font-weight:bold;
                        padding:5px 0px;
                    }
                }
            }
        }
        h1{
            font-size:28px;
        }
        h2{
            font-size:28px;
        }
        p{
            padding:10px 10px;
            font-size:19px;
            line-height:26px;
        }
        .callisto-indice-desktop{
            display:none;
        }
    }
    .callisto-articles{
        .callisto-portada{
            background-position:center;
            background-size: cover;
            img{
                width:320px;
            }
            h3{
                font-size:18px;
            }
        }
        .creditoslog{
            p{
                padding:15px 60px;
                font-size:22px;
                line-height:30px;
            }
            img{
                width:280px;
                padding-top:25px;
                padding-bottom:600px;
            }
        }
        .callisto-creditos{
            .callisto-logos01{
                img{
                    width:320px;
                }
            }
            .callisto-logos02{
                background-size:250%;
                background-position:center;
                img{
                    width:320px;
                }
            }
        }
    }
}