//iPhone14 vertical viewport
@media (max-width: $phonedim) {
    .asideizq {
        display:none;
    }
    .juegos-main-aside1{
        display:none;
    }
    .asideder {
        display:none;
    }
    .juegos-main-aside2{
        display:none;
    }

    header{
        grid-template-columns: auto;
        grid-template-rows:auto auto;
        .header-logo {
            text-align: center;
            padding-bottom:0px;
            padding-right:0px;
            img{
                width: 260px;
            }
        }
        .header-menu ul{
            grid-template-columns: auto auto auto auto auto;
            padding: 30px;
            a{
                font-size: 18px;
            }
        }
    }

    //footer
    footer{
        .footer-logo img{
            width:220px;
            padding-top: 30px;
        }
        .footer-enlaces img{
            width: 40px;
            padding-top:21px;
        }
    }

    //Página Web Index
    .index {
        main {
            grid-template-areas:
                "enlaces"
                "blog"
                "aside1"
                "juegos"
                "aside2"
                "miembros"
                "contacto";
            grid-template-columns: 100%;
            grid-template-rows: repeat (7, auto);
            p{
                line-height:32px;
                font-size:24px;
            }
            h1 a{
                font-size:32px;
            }
            h2 a{
                padding-bottom: 15px;
                font-size:32px;
            }
            .vermas{
                padding-top:20px;
                padding-bottom:20px;
                a{
                    font-size:25px;
                    padding-top:200px;
                    padding-bottom:20px;
                }
            }
        }
    }
    .index-enlaces{
        grid-template-rows:auto;
        img{
            width: 36px;
        }
        a{
            font-size:22px;
        }
        &0 {
            display:none;
            padding: 10px 0px;
        }
        &1 {
            display:none;
            padding:0px;
            a{
                padding:10px 0px;
            }
        }
        &2 {
            display:none;
            padding:0px;
            a{
                padding:10px 0px;
            }
        }
        &-logos{
            display:block;
            text-align:center;
            padding:25px 0px
        }
    }

    .index-blog {
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        h1 {
            font-size: 36px;
        }
        &-content {
            padding-right:0px;
            h3{
                font-size:26px;
                padding-top:25px;
                padding-bottom:25px;
            }
            p{
                font-size:24px;
            }
        }
    }

    .index-juegos{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        h2{
            font-size:36px;
        }
        .index-juegos-content{
            grid-template-columns: auto;
            grid-template-rows: repeat (4, auto);
            a{
                text-align:center;
            }
            img{
                width: 320px;
            }
        }
    }

    .index-miembros{
        grid-template-columns:auto;
        grid-template-rows: auto auto auto;
        h2{
            font-size: 36px;
        }
        a{
            text-align: center;
        }
        img{
            width: 210px;
        }
        p{
            font-size: 24px;
        }
    }

    .index-contacto{
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
        h2{
            font-size:36px;
            padding-bottom:10px;
        }
        p{
            font-size: 26px;
        }
    }

    //Página Web Blog
    .blog-main{
        grid-template-areas:
            "aside1"
            "blogcontent"
            "aside2";
        grid-template-columns:1fr;
        grid-template-rows: auto auto auto;
    }

    //Página Web Juegos
    .juegos-main{
        grid-template-areas:"juegoscontent";
        grid-template-columns:auto;
        grid-template-rows:auto;
    }

    .juegos-content {
        a{
            text-align: center;
        }
        img {
            width:260px;
        }
        p{
            color:white;
            padding-top:15px;
            padding-left:0px;
            padding-right:0px;
            line-height: 32px;
            font-size:21px;
        }
        &-callisto{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        &-forspoken{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        &-hifi{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        &-deadspace{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
    }

    //Página Web Miembros
    .miembros-main{
        grid-template-areas:
        "miembroscontent";
        grid-template-columns:auto;
        grid-template-rows:auto;
    }

    .miembros-content {
        a{
            text-align: center;
        }
        img{
            width:260px;
        }
        p{
            color:white;
            padding-top:15px;
            padding-left:0px;
            padding-right:0px;
            line-height: 32px;
            font-size:21px;
        }
        .miembros-eufm{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        
        .miembros-dougan{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
        
        .miembros-migli0{
            grid-template-columns:1fr;
            grid-template-rows:auto auto;
            margin:25px;
        }
    }

    //Página Web Contacto
    .contacto-main{
        grid-template-areas:
            "concontent";
        grid-template-columns: auto;
    }

    //The Callisto Protocol
    .juegos-main-callisto{
        grid-template-columns:1fr;
        grid-template-rows: auto, auto;
        h1{
            font-size:28px;
        }
        h2{
            font-size:28px;
        }
        p{
            padding:20px 40px;
            font-size:26px;
            line-height:34px;
        }
        .callisto-indice{
            text-align:center;
            padding:10px 10px;
            ul{
                padding-left: 0;
                padding-top:10px;
                li{
                    padding:5px;
                }
                a{
                    font-size:18px;
                }
            }
        }
    }
    .callisto-articles{
        .callisto-portada{
            background-position:center;
            img{
                width:320px;
            }
            h3{
                font-size:18px;
            }
        }
        .creditoslog{
            p{
                padding-left:25px;
                padding-right:25px;
            }
            img{
                width:280px;
                padding-top:25px;
                padding-bottom:600px;
            }
        }
        .callisto-creditos{
            .callisto-logos01{
                img{
                    width:360px;
                }
            }
            .callisto-logos02{
                background-size:250%;
                background-position:center;
                img{
                    width:360px;
                }
            }
        }
    }
}