//variables
$fondopersonal: url("../img/fondo.png");
$fondobannerizq: url("../img/RE4-Beh-Nostal-Scorn-01.jpg");
$fondobannerder: url(../img/HL-DI2-Trine4-Under-02.jpg);
$colores:(
    enlaces:rgb(8, 13, 63),
    blog:rgb(1, 1, 34),
    juegos:rgb(23, 5, 39),
    miembros: rgb(1, 1, 34),
    contacto:rgb(8, 13, 63),
);
$tabletdim: 1024px;
$phonedim: 480px;