@charset "UTF-8";
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Montserrat", sans-seriff;
}

header {
  grid-area: cabecera;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-image: url("../img/fondo.png");
  background-size: cover;
}
header .header-logo {
  text-align: end;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-right: 25px;
  margin: 0;
  border: 0;
}
header .header-logo img {
  width: 200px;
}
header .header-menu a .nav-icon {
  display: none;
}
header .header-menu ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  list-style: none;
  text-align: center;
  padding-top: 120px;
  padding-left: 0;
  border: 0;
  margin: 0;
}
header .header-menu ul a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}

footer {
  grid-area: pie;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-image: url("../img/fondo.png");
}
footer .footer-logo {
  text-align: center;
  padding-top: 30px;
}
footer .footer-logo img {
  width: 125px;
}
footer .footer-enlaces {
  text-align: center;
  padding-bottom: 30px;
}
footer .footer-enlaces img {
  width: 20px;
}

.index {
  display: grid;
  grid-template-areas: "cabecera" "indexmain" "pie";
  grid-template-rows: auto auto auto;
}
.index main {
  grid-area: indexmain;
  display: grid;
  grid-template-areas: "aside1 enlaces aside2" "aside1 blog aside2" "aside1 juegos aside2" "aside1 miembros aside2" "aside1 contacto aside2";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat 5, auto;
}
.index main h1 a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}
.index main h2 a {
  text-decoration: none;
  color: white;
  font-size: 36px;
}
.index main p {
  line-height: 30px;
  font-size: 24px;
  text-align: justify;
}

.index-enlaces {
  grid-area: enlaces;
  background-color: rgb(8, 13, 63);
  display: grid;
  grid-template-rows: auto auto auto;
}
.index-enlaces img {
  width: 23px;
  padding-left: 15px;
}
.index-enlaces a {
  color: white;
  text-decoration: none;
  font-size: 21px;
}
.index-enlaces0 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
}
.index-enlaces1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.index-enlaces2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
}
.index-enlaces-logos {
  display: none;
}

.index-blog {
  grid-area: blog;
  background-color: rgb(1, 1, 34);
  color: white;
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding-left: 25px;
  padding-right: 50px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.index-blog-content {
  padding-right: 50px;
}
.index-blog-content h3 {
  padding-bottom: 10px;
  font-size: 24px;
}
.index-blog-content p {
  padding-left: 20px;
}
.index-blog-content .vermas {
  text-align: end;
}
.index-blog-content .vermas a {
  padding-top: 20px;
  font-size: 18px;
  color: white;
}

.index-juegos {
  grid-area: juegos;
  background-color: rgb(23, 5, 39);
  color: white;
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 25px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.index-juegos-layout {
  display: grid;
  grid-template-rows: auto auto;
}
.index-juegos-layout .index-juegos-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.index-juegos-layout .index-juegos-content img {
  max-width: 240px;
  margin: 10px;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
}
.index-juegos-layout .vermas {
  text-align: end;
  padding-right: 20px;
}
.index-juegos-layout .vermas a {
  padding-top: 20px;
  font-size: 18px;
  color: white;
}

.index-miembros {
  grid-area: miembros;
  background-color: rgb(1, 1, 34);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 1fr;
  padding: 25px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.index-miembros h2 {
  padding-top: 30px;
  padding-right: 20px;
}
.index-miembros img {
  width: 130px;
}
.index-miembros p {
  padding-bottom: 10px;
}
.index-miembros .miembros-descrip {
  display: grid;
  grid-template-rows: auto auto;
}
.index-miembros .vermas {
  text-align: end;
}
.index-miembros .vermas a {
  padding-top: 20px;
  font-size: 18px;
  color: white;
}

.index-contacto {
  grid-area: contacto;
  background-color: rgb(8, 13, 63);
  color: white;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  padding: 25px;
}
.index-contacto h2 {
  padding-right: 15px;
}
.index-contacto p {
  padding-right: 40px;
  padding-left: 20px;
}
.index-contacto p a {
  color: white;
}

.blog {
  display: grid;
  grid-template-areas: "cabecera" "blogmain" "pie";
  grid-template-rows: auto auto auto;
}
.blog-main {
  grid-area: blogmain;
  display: grid;
  grid-template-areas: "aside1 blogcontent aside2";
  grid-template-columns: 1fr 6fr 1fr;
}
.blog-main-content {
  grid-area: blogcontent;
  background-color: rgb(1, 1, 34);
  padding-bottom: 450px;
}
.blog-main-content h1 {
  color: white;
  padding-left: 25px;
  padding-top: 25px;
}
.blog-main-content #blogaccordion {
  padding: 50px;
}

.juegos {
  display: grid;
  grid-template-areas: "cabecera" "juegosmain" "pie";
  grid-template-rows: auto auto auto;
}

.juegos-main {
  grid-area: juegosmain;
  display: grid;
  grid-template-areas: "juegoside1 juegoscontent juegoside2";
  grid-template-columns: 1fr 6fr 1fr;
}
.juegos-main-aside1 {
  grid-area: juegoside1;
  background-color: rgb(23, 5, 39);
}
.juegos-main-aside2 {
  grid-area: juegoside2;
  background-color: rgb(23, 5, 39);
}
.juegos-main-content {
  grid-area: juegoscontent;
  background-color: rgb(23, 5, 39);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.juegos-main-content h1 {
  color: white;
  padding-left: 25px;
  padding-top: 25px;
  font-size: 36px;
}

.juegos-content {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
.juegos-content img {
  width: 320px;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
}
.juegos-content p {
  color: white;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 0px;
  text-align: justify;
  font-size: 21px;
  line-height: 28px;
  max-width: 860px;
}
.juegos-content-callisto {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
  align-content: center;
}
.juegos-content-forspoken {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}
.juegos-content-hifi {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}
.juegos-content-deadspace {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}

.miembros {
  display: grid;
  grid-template-areas: "cabecera" "miembrosmain" "pie";
  grid-template-rows: auto auto auto;
}
.miembros-main {
  grid-area: miembrosmain;
  display: grid;
  grid-template-areas: "aside1 miembroscontent aside2";
  grid-template-columns: 1fr 6fr 1fr;
}
.miembros-main-content {
  grid-area: miembroscontent;
  background-color: rgb(1, 1, 34);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, auto;
}
.miembros-main-content h1 {
  color: white;
  padding-left: 25px;
  padding-top: 25px;
  font-size: 36px;
}
.miembros-main-content img {
  width: 210px;
}
.miembros-main-content p {
  color: white;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 30px;
  text-align: justify;
  line-height: 20px;
  max-width: 860px;
}
.miembros-main-content .miembros-eufm {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}
.miembros-main-content .miembros-dougan {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}
.miembros-main-content .miembros-migli0 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 50px;
}

.contacto {
  display: grid;
  grid-template-areas: "cabecera" "contactomain" "pie";
  grid-template-rows: auto auto auto;
}

.contacto-main {
  grid-area: contactomain;
  display: grid;
  grid-template-areas: "aside1 concontent aside2";
  grid-template-columns: 1fr 6fr 1fr;
}
.contacto-main-content {
  grid-area: concontent;
  background-color: rgb(8, 13, 63);
  padding-bottom: 260px;
}
.contacto-main-content h1 {
  color: white;
  padding-left: 25px;
  padding-top: 25px;
}
.contacto-main-content .cajaformulario {
  margin: 50px;
  padding: 25px;
  background-color: white;
}

.juegos-callisto-layout {
  display: grid;
  grid-template-areas: "cabecera" "callistomain" "pie";
  grid-template-rows: auto auto auto;
}

.juegos-main-callisto {
  background-color: black;
  grid-area: callistomain;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}
.juegos-main-callisto h1 {
  color: white;
  font-size: 36px;
  text-align: center;
  padding-bottom: 25px;
}
.juegos-main-callisto h2 {
  color: white;
  text-align: center;
  font-size: 36px;
}
.juegos-main-callisto h3 {
  color: white;
  font-size: 18px;
}
.juegos-main-callisto p {
  font-family: "Inter", sans-seriff;
  color: white;
  font-size: 28px;
  line-height: 40px;
  text-align: justify;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.juegos-main-callisto .callisto-indice {
  background-color: black;
  position: sticky;
  top: 0;
  text-align: left;
}
.juegos-main-callisto .callisto-indice ul {
  position: sticky;
  top: 0;
  list-style: none;
  padding-left: 75px;
  padding-top: 100px;
}
.juegos-main-callisto .callisto-indice ul li {
  padding-bottom: 10px;
}
.juegos-main-callisto .callisto-indice ul a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.callisto-articles {
  background-color: black;
}
.callisto-articles .callisto-portada {
  display: grid;
  justify-items: center;
  background-image: url(../img/callisto-fondo-portada.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.callisto-articles .callisto-portada img {
  width: 580px;
  padding-top: 200px;
  padding-bottom: 25px;
}
.callisto-articles .callisto-portada h3 {
  font-size: 28px;
  padding-bottom: 1000px;
}
.callisto-articles .creditoslog {
  display: grid;
  justify-items: center;
  border-style: solid;
}
.callisto-articles .creditoslog p {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
.callisto-articles .creditoslog img {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 600px;
}
.callisto-articles .callisto-creditos .callisto-logos01 {
  display: grid;
  justify-items: center;
  padding-bottom: 500px;
}
.callisto-articles .callisto-creditos .callisto-logos01 img {
  width: 580px;
  padding-top: 200px;
  padding-bottom: 800px;
}
.callisto-articles .callisto-creditos .callisto-logos02 {
  background-image: url(../img/callisto-fondo-creditos.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.callisto-articles .callisto-creditos .callisto-logos02 img {
  width: 860px;
  padding-bottom: 1500px;
}

.juegos-forspoken-layout {
  display: grid;
  grid-template-areas: "cabecera" "forspokenmain" "pie";
  grid-template-rows: auto auto auto;
}

.juegos-main-forspoken {
  background-color: black;
  grid-area: forspokenmain;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}
.juegos-main-forspoken h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  padding-bottom: 25px;
}
.juegos-main-forspoken h2 {
  color: white;
  font-size: 32px;
}
.juegos-main-forspoken h3 {
  color: white;
  font-size: 18px;
}
.juegos-main-forspoken p {
  font-family: "Inter", sans-seriff;
  color: white;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.juegos-main-forspoken .forspoken-indice ul {
  list-style: none;
  position: sticky;
  top: 0;
  padding-left: 75px;
  padding-top: 100px;
}
.juegos-main-forspoken .forspoken-indice ul li {
  padding-bottom: 10px;
}
.juegos-main-forspoken .forspoken-indice ul a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.forspoken-articles {
  background-color: black;
}
.forspoken-articles .forspoken-portada {
  display: grid;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: content;
  background: linear-gradient(180º, transparent 0%, black 100%);
}
.forspoken-articles .forspoken-portada img {
  width: 580px;
  padding-top: 200px;
  padding-bottom: 25px;
}
.forspoken-articles .forspoken-portada h3 {
  font-size: 28px;
  padding-bottom: 1000px;
}
.forspoken-articles .creditoslog {
  display: grid;
  justify-items: center;
  border-style: solid;
}
.forspoken-articles .creditoslog p {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
.forspoken-articles .creditoslog img {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 600px;
}
.forspoken-articles .forspoken-creditos .forspoken-logos01 {
  display: grid;
  justify-items: center;
  padding-bottom: 500px;
}
.forspoken-articles .forspoken-creditos .forspoken-logos01 img {
  width: 10px;
  padding-top: 200px;
  padding-bottom: 800px;
}
.forspoken-articles .forspoken-creditos .forspoken-logos02 {
  background-image: url(../img/callisto-fondo-creditos.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.forspoken-articles .forspoken-creditos .forspoken-logos02 img {
  width: 120px;
  padding-bottom: 1500px;
}

.juegos-hifi-layout {
  display: grid;
  grid-template-areas: "cabecera" "hifimain" "pie";
  grid-template-rows: auto auto auto;
}

.juegos-main-hifi {
  background-color: black;
  grid-area: hifimain;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}
.juegos-main-hifi h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  padding-bottom: 25px;
}
.juegos-main-hifi h2 {
  color: white;
  font-size: 32px;
}
.juegos-main-hifi h3 {
  color: white;
  font-size: 18px;
}
.juegos-main-hifi p {
  font-family: "Inter", sans-seriff;
  color: white;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.juegos-main-hifi .hifi-indice ul {
  list-style: none;
  position: sticky;
  top: 0;
  padding-left: 75px;
  padding-top: 100px;
}
.juegos-main-hifi .hifi-indice ul li {
  padding-bottom: 10px;
}
.juegos-main-hifi .hifi-indice ul a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hifi-articles {
  background-color: black;
}
.hifi-articles .hifi-portada {
  display: grid;
  justify-items: center;
  background-image: url(../img/callisto-fondo-portada.png);
  background-repeat: no-repeat;
  background-size: content;
  background: linear-gradient(180º, transparent 0%, black 100%);
}
.hifi-articles .hifi-portada img {
  width: 580px;
  padding-top: 200px;
  padding-bottom: 25px;
}
.hifi-articles .hifi-portada h3 {
  font-size: 28px;
  padding-bottom: 1000px;
}
.hifi-articles .creditoslog {
  display: grid;
  justify-items: center;
  border-style: solid;
}
.hifi-articles .creditoslog p {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
.hifi-articles .creditoslog img {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 600px;
}
.hifi-articles .hifi-creditos .hifi-logos01 {
  display: grid;
  justify-items: center;
  padding-bottom: 500px;
}
.hifi-articles .hifi-creditos .hifi-logos01 img {
  width: 10px;
  padding-top: 200px;
  padding-bottom: 800px;
}
.hifi-articles .hifi-creditos .hifi-logos02 {
  background-image: url(../img/callisto-fondo-creditos.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hifi-articles .hifi-creditos .hifi-logos02 img {
  width: auto;
  padding-bottom: 1500px;
}

.juegos-ds-layout {
  display: grid;
  grid-template-areas: "cabecera" "dsmain" "pie";
  grid-template-rows: auto auto auto;
}

.juegos-main-ds {
  background-color: black;
  grid-area: dsmain;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}
.juegos-main-ds h1 {
  color: white;
  font-size: 32px;
  text-align: center;
  padding-bottom: 25px;
}
.juegos-main-ds h2 {
  color: white;
  font-size: 32px;
}
.juegos-main-ds h3 {
  color: white;
  font-size: 18px;
}
.juegos-main-ds p {
  font-family: "Inter", sans-seriff;
  color: white;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.juegos-main-ds .ds-indice ul {
  list-style: none;
  position: sticky;
  top: 0;
  padding-left: 75px;
  padding-top: 100px;
}
.juegos-main-ds .ds-indice ul li {
  padding-bottom: 10px;
}
.juegos-main-ds .ds-indice ul a {
  font-size: 21px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.ds-articles {
  background-color: black;
}
.ds-articles .ds-portada {
  display: grid;
  justify-items: center;
  background-image: url(../img/callisto-fondo-portada.png);
  background-repeat: no-repeat;
  background-size: content;
  background: linear-gradient(180º, transparent 0%, black 100%);
}
.ds-articles .ds-portada img {
  width: 580px;
  padding-top: 200px;
  padding-bottom: 25px;
}
.ds-articles .ds-portada h3 {
  font-size: 28px;
  padding-bottom: 1000px;
}
.ds-articles .creditoslog {
  display: grid;
  justify-items: center;
  border-style: solid;
}
.ds-articles .creditoslog p {
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
.ds-articles .creditoslog img {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 600px;
}
.ds-articles .ds-creditos .ds-logos01 {
  display: grid;
  justify-items: center;
  padding-bottom: 500px;
}
.ds-articles .ds-creditos .ds-logos01 img {
  width: 10px;
  padding-top: 200px;
  padding-bottom: 800px;
}
.ds-articles .ds-creditos .ds-logos02 {
  background-image: url(../img/callisto-fondo-creditos.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.ds-articles .ds-creditos .ds-logos02 img {
  width: auto;
  padding-bottom: 1500px;
}

@media (max-width: 480px) {
  .asideizq {
    display: none;
  }
  .juegos-main-aside1 {
    display: none;
  }
  .asideder {
    display: none;
  }
  .juegos-main-aside2 {
    display: none;
  }
  header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  header .header-logo {
    text-align: center;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  header .header-logo img {
    width: 260px;
  }
  header .header-menu ul {
    grid-template-columns: auto auto auto auto auto;
    padding: 30px;
  }
  header .header-menu ul a {
    font-size: 18px;
  }
  footer .footer-logo img {
    width: 220px;
    padding-top: 30px;
  }
  footer .footer-enlaces img {
    width: 40px;
    padding-top: 21px;
  }
  .index main {
    grid-template-areas: "enlaces" "blog" "aside1" "juegos" "aside2" "miembros" "contacto";
    grid-template-columns: 100%;
    grid-template-rows: repeat 7, auto;
  }
  .index main p {
    line-height: 32px;
    font-size: 24px;
  }
  .index main h1 a {
    font-size: 32px;
  }
  .index main h2 a {
    padding-bottom: 15px;
    font-size: 32px;
  }
  .index main .vermas {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .index main .vermas a {
    font-size: 25px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .index-enlaces {
    grid-template-rows: auto;
  }
  .index-enlaces img {
    width: 36px;
  }
  .index-enlaces a {
    font-size: 22px;
  }
  .index-enlaces0 {
    display: none;
    padding: 10px 0px;
  }
  .index-enlaces1 {
    display: none;
    padding: 0px;
  }
  .index-enlaces1 a {
    padding: 10px 0px;
  }
  .index-enlaces2 {
    display: none;
    padding: 0px;
  }
  .index-enlaces2 a {
    padding: 10px 0px;
  }
  .index-enlaces-logos {
    display: block;
    text-align: center;
    padding: 25px 0px;
  }
  .index-blog {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-blog h1 {
    font-size: 36px;
  }
  .index-blog-content {
    padding-right: 0px;
  }
  .index-blog-content h3 {
    font-size: 26px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .index-blog-content p {
    font-size: 24px;
  }
  .index-juegos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-juegos h2 {
    font-size: 36px;
  }
  .index-juegos .index-juegos-content {
    grid-template-columns: auto;
    grid-template-rows: repeat 4, auto;
  }
  .index-juegos .index-juegos-content a {
    text-align: center;
  }
  .index-juegos .index-juegos-content img {
    width: 320px;
  }
  .index-miembros {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .index-miembros h2 {
    font-size: 36px;
  }
  .index-miembros a {
    text-align: center;
  }
  .index-miembros img {
    width: 210px;
  }
  .index-miembros p {
    font-size: 24px;
  }
  .index-contacto {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-contacto h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .index-contacto p {
    font-size: 26px;
  }
  .blog-main {
    grid-template-areas: "aside1" "blogcontent" "aside2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .juegos-main {
    grid-template-areas: "juegoscontent";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .juegos-content a {
    text-align: center;
  }
  .juegos-content img {
    width: 260px;
  }
  .juegos-content p {
    color: white;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 32px;
    font-size: 21px;
  }
  .juegos-content-callisto {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .juegos-content-forspoken {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .juegos-content-hifi {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .juegos-content-deadspace {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .miembros-main {
    grid-template-areas: "miembroscontent";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .miembros-content a {
    text-align: center;
  }
  .miembros-content img {
    width: 260px;
  }
  .miembros-content p {
    color: white;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 32px;
    font-size: 21px;
  }
  .miembros-content .miembros-eufm {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .miembros-content .miembros-dougan {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .miembros-content .miembros-migli0 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .contacto-main {
    grid-template-areas: "concontent";
    grid-template-columns: auto;
  }
  .juegos-main-callisto {
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto;
  }
  .juegos-main-callisto h1 {
    font-size: 28px;
  }
  .juegos-main-callisto h2 {
    font-size: 28px;
  }
  .juegos-main-callisto p {
    padding: 20px 40px;
    font-size: 26px;
    line-height: 34px;
  }
  .juegos-main-callisto .callisto-indice {
    text-align: center;
    padding: 10px 10px;
  }
  .juegos-main-callisto .callisto-indice ul {
    padding-left: 0;
    padding-top: 10px;
  }
  .juegos-main-callisto .callisto-indice ul li {
    padding: 5px;
  }
  .juegos-main-callisto .callisto-indice ul a {
    font-size: 18px;
  }
  .callisto-articles .callisto-portada {
    background-position: center;
  }
  .callisto-articles .callisto-portada img {
    width: 320px;
  }
  .callisto-articles .callisto-portada h3 {
    font-size: 18px;
  }
  .callisto-articles .creditoslog p {
    padding-left: 25px;
    padding-right: 25px;
  }
  .callisto-articles .creditoslog img {
    width: 280px;
    padding-top: 25px;
    padding-bottom: 600px;
  }
  .callisto-articles .callisto-creditos .callisto-logos01 img {
    width: 360px;
  }
  .callisto-articles .callisto-creditos .callisto-logos02 {
    background-size: 250%;
    background-position: center;
  }
  .callisto-articles .callisto-creditos .callisto-logos02 img {
    width: 360px;
  }
}
@media (min-width: 480px) and (max-width: 1300px) {
  .asideizq {
    display: none;
  }
  .juegos-main-aside1 {
    display: none;
  }
  .asideder {
    display: none;
  }
  .juegos-main-aside2 {
    display: none;
  }
  header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  header .header-logo {
    text-align: center;
    padding-bottom: 0px;
    padding-right: 0px;
  }
  header .header-logo img {
    width: 300px;
  }
  header .header-menu ul {
    grid-template-columns: auto auto auto auto auto;
    padding: 30px;
  }
  header .header-menu ul a {
    font-size: 24px;
  }
  footer .footer-logo img {
    width: 220px;
    padding-top: 30px;
  }
  footer .footer-enlaces img {
    width: 40px;
    padding-top: 21px;
  }
  .index main {
    grid-template-areas: "enlaces" "blog" "aside1" "juegos" "aside2" "miembros" "contacto";
    grid-template-columns: 1fr;
    grid-template-rows: repeat 7, auto;
  }
  .index main p {
    line-height: 46px;
    font-size: 34px;
  }
  .index main h1 a {
    font-size: 46px;
  }
  .index main h2 a {
    padding-bottom: 15px;
    font-size: 46px;
  }
  .index main .vermas {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .index main .vermas a {
    font-size: 32px;
    padding-top: 200px;
    padding-bottom: 20px;
  }
  .index-enlaces {
    grid-template-rows: auto auto;
  }
  .index-enlaces img {
    width: 28px;
  }
  .index-enlaces a {
    font-size: 28px;
    padding: 20px;
    padding-right: 15px;
  }
  .index-enlaces0 {
    padding-bottom: 0px;
  }
  .index-enlaces1 {
    padding-top: 15px;
  }
  .index-enlaces2 {
    padding-bottom: 30px;
  }
  .index-blog {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-blog h1 {
    font-size: 36px;
  }
  .index-blog-content h3 {
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .index-blog-content p {
    font-size: 24px;
  }
  .index-juegos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-juegos h2 {
    font-size: 36px;
  }
  .index-juegos .index-juegos-content {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .index-juegos .index-juegos-content img {
    width: 360px;
  }
  .index-miembros {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .index-miembros h2 {
    font-size: 36px;
  }
  .index-miembros a {
    text-align: center;
  }
  .index-miembros img {
    width: 360px;
  }
  .index-miembros p {
    font-size: 24px;
  }
  .index-contacto {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-contacto h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .index-contacto p {
    font-size: 26px;
  }
  .blog-main {
    grid-template-areas: "aside1" "blogcontent" "aside2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .blog-main-content h1 {
    font-size: 68px;
    padding-left: 50px;
  }
  .juegos-main {
    grid-template-areas: "juegoscontent";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .juegos-main-content h1 {
    font-size: 68px;
    padding-left: 50px;
  }
  .juegos-content a {
    text-align: center;
  }
  .juegos-content img {
    width: 560px;
  }
  .juegos-content p {
    color: white;
    padding-top: 15px;
    padding-left: 55px;
    padding-right: 0px;
    line-height: 42px;
    font-size: 30px;
  }
  .juegos-content-callisto {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .juegos-content-forspoken {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .juegos-content-hifi {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .juegos-content-deadspace {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
  }
  .miembros-main {
    grid-template-areas: "miembroscontent";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .miembros-main-content h1 {
    font-size: 68px;
    padding-left: 50px;
  }
  .miembros-content a {
    text-align: center;
  }
  .miembros-content img {
    width: 420px;
  }
  .miembros-content p {
    color: white;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 42px;
    font-size: 30px;
  }
  .miembros-content .miembros-eufm {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 100px;
  }
  .miembros-content .miembros-dougan {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 100px;
  }
  .miembros-content .miembros-migli0 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 100px;
  }
  .contacto-main {
    grid-template-areas: "concontent";
    grid-template-columns: auto;
  }
  .contacto-main-content h1 {
    font-size: 68px;
    padding-left: 50px;
  }
  .juegos-main-callisto {
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto;
  }
  .juegos-main-callisto p {
    padding: 20px 40px;
  }
  .juegos-main-callisto .callisto-indice {
    text-align: center;
    padding: 10px 10px;
  }
  .juegos-main-callisto .callisto-indice ul {
    padding-left: 0;
    padding-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 480px) and (max-width: 800px) {
  .index-enlaces {
    grid-template-rows: auto;
  }
  .index-enlaces img {
    width: 36px;
  }
  .index-enlaces a {
    font-size: 22px;
  }
  .index-enlaces0 {
    display: none;
    padding: 10px 0px;
  }
  .index-enlaces1 {
    display: none;
    padding: 0px;
  }
  .index-enlaces1 a {
    padding: 10px 0px;
  }
  .index-enlaces2 {
    display: none;
    padding: 0px;
  }
  .index-enlaces2 a {
    padding: 10px 0px;
  }
  .index-enlaces-logos {
    display: block;
    text-align: center;
    padding: 25px 0px;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .index-juegos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .index-juegos h2 {
    font-size: 36px;
  }
  .index-juegos .index-juegos-content {
    grid-template-columns: auto;
    grid-template-rows: repeat 4, auto;
  }
  .index-juegos .index-juegos-content a {
    text-align: center;
  }
  .index-juegos .index-juegos-content img {
    width: 2000px;
  }
}
.asideizq {
  grid-area: aside1;
  background-color: black;
}
.asideizq img {
  position: sticky;
  top: 80px;
  overflow: hidden;
}

.asideder {
  grid-area: aside2;
  background-color: black;
}
.asideder img {
  position: sticky;
  top: 80px;
}/*# sourceMappingURL=main.css.map */