*{
    padding:0;
    border:0;
    margin:0;
    font-family: 'Montserrat', sans-seriff;
}

@import 'variables';
@import 'header';
@import 'footer';
@import 'index';
@import 'pageblog';
@import 'pagejuegos';
@import 'pagemiembros';
@import 'pagecontacto';

//juegos
@import 'juegocallisto';

//queries
@import 'phoneviewport';
@import 'tabletviewport';

//aside1
.asideizq {
    grid-area: aside1;
    background-image: $fondobannerizq;
    background-repeat: repeat-y;
}

//aside2
.asideder{
    grid-area: aside2;
    background-image: $fondobannerder;
    background-repeat: repeat-y;
}