*{
    padding:0;
    border:0;
    margin:0;
    font-family: 'Montserrat', sans-seriff;
}

@import 'variables';
@import 'header';
@import 'footer';
@import 'index';
@import 'pageblog';
@import 'pagejuegos';
@import 'pagemiembros';
@import 'pagecontacto';

//juegos
@import 'juegoscallisto';
@import 'juegosforspoken';
@import 'juegoshifi';
@import 'juegosdeadspace';

//queries
@import 'phoneviewport';
@import 'tabletviewport';

//aside1
.asideizq {
    grid-area: aside1;
    background-color: black;
    img{
        position:sticky;
        top:80px;
        overflow: hidden;
    }
}

//aside2
.asideder{
    grid-area: aside2;
    background-color: black;
    img{
        position:sticky;
        top:80px;
    }
}